.address {
  padding: 4px 16px;
  background-color: var(--brand-camo-400);
  border: 1px solid var(--brand-camo-300);
  border-radius: 5px;
  cursor: default;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--brand-camo-300);
  }
}

.dot {
  aspect-ratio: 1;
  width: 8px;
  height: auto;
  background-color: var(--brand-yellow-200);
  margin-right: 8px;

  transition: all 0.5s ease-in-out;
  -moz-animation: blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation: blink normal 1.5s infinite ease-in-out;
}

.icon {
  fill: var(--brand-camo-200);
}

@keyframes blink {
  0% {
    background-color: var(--brand-yellow-200);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--brand-yellow-200);
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: var(--brand-yellow-200);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--brand-yellow-200);
  }
}
